$backgroundColor:rgba(30, 131, 106, 0.938);
body{
    header {
      background: $backgroundColor;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      font-weight: 600;
      color: #f7f7f3;
      border-bottom: rgb(110, 109, 109) 1px solid;
  }
}